header {
    width: auto;
    height: auto;
    justify-content: space-between;
    text-align: center;
    padding: 10px 20px;
    margin:0px;
    background-color: rgba(212, 211, 211, 0.68);
    color: #000000;
    border-bottom : 2px groove #0e2671
}

header h1 a:link, header h1 a:visited, header h1 a:hover, header h1 a:active  {
    color: #0499de;
    font-weight: bold;
    text-decoration: none;

}

header p {
    color: #0e2671;
    font-style: italic;
}



body {
    margin-left:40px;
}


#header_logo img{
    float: left;
    position: absolute;
    top: 8px;
    left: 42px;
    width: 127px;
    height: 94px;
}

.header_table{
    width:100%
}

.header_logout_icon{
    float: right;
    vertical-align: top;
}
.header_welcome{
    float: left;
    color: #747474;
    font-style: italic;
}

.Menu{
    width:auto;
    heigh:auto;
    padding:10px;
    font-size:20px;
    color: #0499de;
    border-color: rgba(14, 38, 113, 0.9);
}

.monMenu {
    border-bottom-style: solid;
    padding:10px;
    border-color: rgba(14, 38, 113, 0.9);
}

.monMenu a:link, .monMenu a:visited, .monMenu a:active{
    text-decoration: none;
    color: #0499de;
}

.monMenu a:hover{
    color: #0a75a3;
    text-decoration: none;
}

.activeMenuD {
    border-style:solid none none solid;
}
.activeMenuC {
    border-style:solid solid none;
}
.activeMenuG {
    border-style:solid solid none none;
}


.content {
    margin:10px;
    padding:5px;
}

.tempClass {
    border:3px solid red;
}

.tempClassB {
    border:3px solid #00ff0e;
}


footer {
    font-size: 11px;
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-style: italic;
}