{% extends "base.html" %}
{% block addHead %}<link rel="stylesheet" type="text/css" href='/static/communitymanager/css/commun.css'> {% endblock %}

{% block content %}
<div class="blockTitle">
    <h1 class="title">{{nom_commu | title}}</h1>
    <p class="time">Since {{commu.date_creation |date:"D d M Y"}} - {{nb_abonnes}} membre{{nb_abonnes|pluralize}}</p>
<hr>
</div>
<div class="blockContenu">

    {% for post in list_post %}
    <div class="blockMenu slideIn">
        <table class="blockMen">
            <tr class="slideInTitre">
                <td class=""><a class="" href="{% url 'post' post.id post.slug %}">{{ post.titre | title}}</a></td>
                <form action="{% url 'commu' id_commu nom_commu %}">
                {% if user in post.likes.all %}
                <th rowspan="1" class="subscribe">
                    <input type="hidden" name="nom" value="{{post.id}}">
                    <input type="hidden" name="suivre" value="False">
                    <button type="submit"><i style="color:#0499de" class="fas fa-thumbs-up"></i></button>
                </th>
                {% else %}
                <th rowspan="1" class="like">
                    <input type="hidden" name="nom" value="{{post.id}}">
                    <input type="hidden" name="suivre" value="True">
                    <button type="submit"><i class="fas fa-thumbs-up"></i></button>
                </th>
                    {% endif %}</form>
            </tr>
            {%if post.evenementiel == True %}<tr><td><i class="far fa-calendar-alt"></i> {{post.date_evenement}}</td></tr>{% endif %}
            <tr><td class="time">Posted {{ post.date_creation|timesince:date_now }} ago by <strong>{{post.auteur|capfirst}}</strong> - {% if post.likes.all|length == 0 %}Aucun like{% else %}{{post.likes.all|length}} like{{post.likes.all|length|pluralize}}{% endif %}</td>
                {% if user == post.auteur %} <td style="text-align:left"><a href="{% url 'modif_post' post.id %}"><i style="color:#0499de" class="fas fa-edit"></i></a></td>{% endif %}
            </tr>
        </table>
    </div>
    <div class="blockDescription slideIn">
        {{post.description|truncatewords:50|capfirst}}
    </div>
    <hr>

    {% empty %}
        <h6 class="empty">Desolé mais il n'y a pas encore de post pour la communauté {{commu.nom}}. <a href="{% url 'nouveau_post' %}">En écrire un</a></h6>
    {% endfor %}


</div>
{% endblock %}