{% extends "base.html" %}
{% block addHead %}<link rel="stylesheet" type="text/css" href='/static/communitymanager/css/commun.css'> {% endblock %}


{% block content %}
<div class="blockTitle">
    <h1 class="title">{{post.titre|title}}{% if user == post.auteur %} -  <a href="{% url 'modif_post' post.id %}"><i style="color:#0499de" class="fas fa-edit"></i></a>{% endif %}
</h1>
    <p class="time">Since {{post.date_creation |date:"D d M Y"}}
        - {{nb_likes}} {%if nb_likes < 2 %}like {% else %}likes{%endif%} -
    <form action="{% url 'post' id_post slug_post %}">
    {% if user in post.likes.all %}
        <input type="hidden" name="nom" value="{{post.id}}">
        <input type="hidden" name="suivre" value="False">
        <button type="submit"><i style="color:#0499de" class="fas fa-thumbs-up"></i></button>
    {% else %}
        <input type="hidden" name="nom" value="{{post.id}}">
        <input type="hidden" name="suivre" value="True">
        <button type="submit"><i class="fas fa-thumbs-up"></i></button>
        {% endif %}</form>
    </p>
    {%if post.evenementiel == True %}<p class="time"><i class="far fa-calendar-alt"></i> {{post.date_evenement}}</p>{% endif %}

    <hr>
</div>

<div class="blockDescription">
    <p class="">{{post.description|capfirst}}</p>
    <hr>
</div>


<div class="blockCommentaire">


    {% if nb_com == 0 %}
        <h3>Commentaire :</h3>
    {%else%}
        <h3>Commentaire{{ nb_com|pluralize }} :</h3>
    {%endif%}




    <div class="com">
    {% for com in list_com %}
        <table class="tempClass com">
            <tr><th class="tempClass ">{{com.auteur.username|capfirst}} a dit</th><td class="comlike" rowspan="3"><form action="{% url 'post' id_post slug_post %}">
                                                {% if user in post.likes.all %}
                                                    <input type="hidden" name="nom" value="{{post.id}}">
                                                    <input type="hidden" name="suivre" value="False">
                                                    <button type="submit"><i style="color:#0499de" class="fas fa-thumbs-up"></i></button>
                                                {% else %}
                                                    <input type="hidden" name="nom" value="{{post.id}}">
                                                    <input type="hidden" name="suivre" value="True">
                                                    <button type="submit"><i class="fas fa-thumbs-up"></i></button>
                                                    {% endif %}</form>
                                                </p>
                                                {%if post.evenementiel == True %}<p class="time"><i class="far fa-calendar-alt"></i> {{post.date_evenement}}</p>{% endif %}</tr>
            <tr><td class="tempClass "> " {{ com.contenu|capfirst }} "</td></tr>
            <tr><td class="time">{{ com.date_creation|timesince:date_now }} ago</td></tr>
        </table>
        <hr>
    {% empty %}
        <tr><h6>Soyez le premier à commenter !</h6></tr>
    {% endfor %}
    </div>



</div>

<div>
    <form action="{% url 'post' post.id post.slug %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="errorPr"><p>{{ form.commenter.errors }}</p></div>
        <input type="submit" value="submit" />
    </form>
</div>
{% endblock %}