{% load static %}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TheClubBook{% endblock %}</title>
    <style>
        body{font-family: Verdana, sans-serif}
        background-color: rgb(241, 241, 241);
    </style>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% block addHead %} {% endblock %}
    <script src="https://kit.fontawesome.com/c5400dbf8e.js" crossorigin="anonymous"></script>
</head>





<body class="tempClass">

<header>

    <div id="header_logo" class="tempClass"><img src="{% static 'img\logo.png' %}" alt="ISAE SUPAERO" ></div>
    <div class="tempClass">
    <h1><a href = '{% url "commus" %}'>TheClubBook</a></h1>
    <p>- Le site d'annconces et de communication pour les Clubs de Supaero -</p></div>

    <hr>

    {% block logout %}
    {% if user.is_authenticated %}
    <table class="header_table">
        <td  class="tempClass header_logout_icon">
            <a class="header_logout_icon" href="/accounts/logout">Se déconnecter <i class="fas fa-sign-out-alt"></i></a></td>
        <td  class="tempClass header_welcome">
            Vous êtes connecté en tant que  {{ user.username }}.</td>

    </table>
    {% else %}
    <table class="header_table">
        <td><a class="header_logout_icon" href = '/accounts/login'> Se Connecter <i class="fas fa-sign-in-alt"></i></a></td>
    </table>
    {% endif %}
    {% endblock %}
</header>

<div class="Menu tempClass">
    {% if user.is_authenticated %}
    {% block navigation %}
    <table>
        <td class="monMenu{% block menuFeed %}{% endblock %}"><a href="{% url 'news_feed' %}">News Feed</a></td>
        <td class="monMenu{% block menuCommu %}{% endblock %}"><a href="{% url 'commus' %}">Communautes</a></td>
        <td class="monMenu{% block menuPost %}{% endblock %}"><a href="{% url 'nouveau_post' %}">Nouveau Post</a></td>
    </table>
    {% endblock %}
    {% endif %}
</div>



<div class="content">
    {% block content %}
    {% endblock %}
</div>


</body>






<footer>
    <hr>
    <p> ©Copyright 2021 ISAE-SUPAERO - AWNG - Guilhem Glaziou</p>

</footer>

</html>